
// Min-Width: Refers to everything greater than or equal to the amount given.
// Max-Width: Refers to everything less than or equal to the amount given.

/* Desktops */
/* Medium Devices, Desktops */
.container {
  border-style: solid;
  border-width: 1px;
}

@media only screen and (min-width : 600px) {
  .container {

  }
}

@media only screen and (min-width : 992px) {
  .container {
    width: 992px
  }
}



.row {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-6 {
  padding-right: 15px;
  padding-left: 0px;
}

.card-img-text {
  margin-top: -10px;
}

.row.logo{
  background-color: #eee;
}
.row.card{
  background-color: #ddd;
}
.row.contest{
  background-color: #eee;
}

.control-label {
  font-weight: normal
}

.col-md-3.credit-card-input{
  padding-left: 0px;
}

.col-sm-3.credit-card-input{
  padding-left: 0px;
}

.form-control{
  padding: 6px;
}

.btn{
  padding: 6px 48px;
  border-radius: 0px;
}

a{
  text-decoration: underline;
}
